<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="product">
	<select id="listAll" resultType="com.egogrow.commerce.shop.ProductDTO">
		<![CDATA[
		SELECT 
			product_no, product_name, product_price, product_stock, product_explain, product_reg_date 
		FROM 
			PRODUCT
		]]>			
	</select>
</mapper>